body{
	background-color: #040403;
}


.stars{
	height: 80px;
    width: 80px;

    display: inline-block;
    /*border: 1px solid #FFFFCC;*/
    background-color: yellow;
    border-radius: 100px;
    transform: scale(0.5, 0.5);
}